
@font-face {
  font-family: font_1;
  src: url('fonts/VLBAUHAUSSTD.otf') format("opentype");
}
body{
  font-family: font_1 !important;
  margin: 0px;
}
@font-face {
  font-family: font_2;
  src: url('fonts/VLBAUHAUSSTDLIGHT.otf') format("opentype");
}

@font-face {
  font-family: font_3;
  src: url('https://cdn.shopify.com/s/files/1/0256/9171/7680/files/vl-cloudy-aurora-serif.ttf?v=1595388396');
}
@font-face {
  font-family: font_4;
  src: url('fonts/MYRIADPRO-REGULAR.woff');
}
.wrapper{
  display: block;
  position: relative;
  background: url('assets/home.jpg') no-repeat ; 
  background-size: 100% 100%;
}
.logo{
  z-index: 99999;
  top: 30px;
  position: absolute;
  left: 35px;
  top: 46px;
  width: 145px;
}
footer{
  font-family: font_4;
  position: absolute;
  text-align: center;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.home-template .logo-center img{
  margin: auto;
  max-width: 454px;
  margin-top: 54px;
}
@media (min-width: 1200px){
  .container {
    width: 1300px;
  }
}

.event-template footer{
  bottom: 15px;
  font-size: 13px;
}
footer{
  font-size: 13px;
  line-height: 23px;
}
.share-template h3, p{ 
  font-family: font_1;
}
.share-template h3{
  font-size: 33px;
}
.share-template .main{
  padding-top: 6%;
}
.share-title{
  font-family: font_3,  sans-serif; 
  font-size: 55px;
}
.share-button{
  margin-top: 35px;
}
.share-button img{
  max-width: 300px;
}
.modal-footer ul{
  width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
}

.menu-line{
  position: absolute;
  top: 37%;
}
.tab__skin2_wrapper, .tab__skin3_wrapper, .tab__skin4_wrapper, .tab__skin5_wrapper{
  padding-bottom: 120px;
}
.modal-footer ul li{
  display: inline;
  background: #870384;
  cursor: pointer;
  color: #f2dabd;
  border: 2px solid #f2dabd;
  padding: 8px 10px;
  text-align: center;
  min-width: 150px;
  border-radius: 29px;
}
.modal-footer ul  h3{
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}
.modal-footer ul li.active img{
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.tab__skin2 , .tab__skin3 , .tab__skin4 , .tab__skin5{
  padding-top: 80px;
  height: 87vh;
}
.skin__icon p{
  margin-top: 10px;
}
@media (min-width: 768px){
  .wrapper{
     height: 100vh;
   }
   .main-items{
    float: left;
    display: flex;
    align-items: center;
  }

  .col-md-3-fix a {
    margin: 59px 0px;
  }
  .col-md-3-fix{
    width: 20.8333334% !important;
    float: left;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
  }
  .no_pad_destop{
    padding: 0px !important;
  }
  .modal-dialog {

    margin: 54px auto !important;
  }
  .modal-dialog {
    max-width: 1400px;
    width: 100% !important;
  }
}
l-body{
  border: 0px;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.skin__img--iframe{
  border-radius: 50%;
  position: absolute;
  width: 171px;
  height: 171px;
  z-index: 9999999;
  top: -88px;
  left: 50%;
  transform: translateX(-50%);
}
.skin__list img{
  margin: auto;
}
.skin__list--note{
  width: 80%;
  margin: auto;
}
.skin__detail{
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.skin__detail img{
  margin: auto;
}
.skin__detail div{
  cursor: pointer;
}
.skin__info{
  padding: 80px 20px 5px 20px;
}
.skin__video--wrapper{
  width: 80%;
  margin: auto;
}
.skin__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.skin__video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.skin__video iframe , .js-slick-video iframe{
  width: 100%;
}
.js-slick .slick-slide{
  height: 100vh;

}
.js-slick {
  margin-bottom: 0px !important;
}
.js-slick  .slick-dots {
  bottom: 100px;
}
.js-slick .slick-dots li.slick-active button:before{
  color: transparent;
}
.js-slick .slick-dots li button , .js-slick .slick-dots li{
  width: 70px !important;
  height: 8px;
}
.js-slick .slick-dots li button:before{
  width: 70px !important;
  background: #e5bbcb;
  border-radius: 4px;
  color: transparent;
  height: 8px;
}
.skin__img , .skin__info {
  border: 2px solid #e9adc4;
}
.skin__img , .skin__info {
  margin-top: 20px;
}
.modal-footer{
  padding: 15px 0px !important;
  position: absolute;
  width: 71%;
  border: 0px !important;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
}
.close-button{
  position: absolute;
  right: -30px;
  z-index: 999999;
  top: -30px;
  background: transparent;
  border: 0px;
}
.close-button:focus{
 outline: 0px;
}
.line-top{
  position: absolute;
  left: -35px;
  top: -25px;
    z-index: -1;
}
.check_hide{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.line-bottom{
  position: absolute;
  right: -30px;
  bottom: -30px;
  z-index: -1;
}
.modal-backdrop{
  background: #fff !important;
}
.skin__info h2{
  font-size: 150px;
  font-family: font_1;
  color: #d0c5da;
  line-height: 0.70;
}
.skin__detail div{
  text-align: center;
  width: 20%;
  padding: 10px;
}
.skin__content  p{
  padding-left: 20px;
  padding-right: 20px;
}
.skin__icon{
  display: flex;
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
}
.skin__icon-mini{
  width: 35%;
}
.skin__icon-content{
  width: 65%;
}
.skin__icon-tooltip{
  display: flex;
  flex-wrap: wrap;
}
.skin__icon>div{
 padding: 10px;
 width: 33.33%;
 text-align: center;
}
.skin__icon--detail img{
  margin: auto;
}
.skin__icon--detail{
  cursor: pointer;
}
.skin__icon--detail:hover .skin__icon--info {
  display: block;
}
.skin__list>div:hover .skin__icon--info {
  display: block;
}
.skin__icon--info{
  padding: 15px;
  z-index: 9999999;
  display: none;
  position: absolute;
  width: 400px;
  color: #ecd5b9;
  background: #515b7b;
  /* color: black; */
  min-width: 412px;
  left: 100%;
  top: 30%;
}
.skin__list--video , .skin__list--note{
  width: 95%;
  margin: auto;
}
.skin__list{
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.skin__list>div{
 cursor: pointer;
 text-align: center;
 width: 25%;
 padding: 7px;
}
.modal-box{
  box-shadow: 0px !important;
  border: 2px solid #e5bbcb;
}
.slick-arrow{
  z-index: 9999999 !important;
  height: auto !important;
}
.menu-items li img{
  display: none;
}
.menu-items  li.active img{
  display: block;
}
.tab__skin1  .slick-arrow{
  width: 51px !important;
  z-index: 9999999 !important;
  height: auto !important;
}
.tab__skin2  .slick-arrow{
  width: 31px !important;
  z-index: 9999999 !important;
  height: auto !important;
}
.tab__skin4 .slick-arrow , .tab__skin5 .slick-arrow {
  width: 35px !important;
  z-index: 9999999 !important;
  height: auto !important;
}

.tab__skin4 .slick-prev ,.tab__skin5 .slick-prev  {
  left: -100px !important;
}
.tab__skin4  .slick-next ,.tab__skin5 .slick-next  {
  right: -100px !important;
}
.slick-prev {
  left: 0px !important;
}
.slick-next {
  right: 0px !important;
}
.tab__skin5 p{
  margin-top: 30px;
}
.skin__character{
 position: absolute;
 bottom: 10px;
 11: 50%;
 width: 100%;
 text-align: center;
 color: #e9adc4;
 font-size: 21px;
}
.list-person>div img{
  width: 100px;
  cursor: pointer;
}
.list-person>div img:hover{
  transform: scale(1.1);
  transition: 1s;
}
.list-person>div{
  position: absolute;
}
.list-person .yasuo{
  top: 57%;
  left: 14%;
}
.list-person .kindred{
  top: 29%;
  left: 18%;
}
.list-person .yone{
  top: 18%;
  left: 29%;
}

.list-person .lilia{
  top: 31%;
  left: 40%;
}
.list-person .thresh{
  top: 18%;
  left: 50%;
}
.list-person .vayne{
  top: 52%;
  left: 31%;
}
.list-person .riven{
  top: 47%;
  left: 51%;
}
.list-person .teemo{
  top: 38%;
  left: 63%;
}
.list-person .ahri{
  top: 47%;
  left: 76%;
}
.list-person .casiopeia{
  top: 68%;
  left: 55%;
}
@media(max-width: 767px){
  .wrapper{
   background-size: cover;
 }
 .logo-center img{
  width: 100%;
}
.list-person>div img {
  width: 150px;
  cursor: pointer;
}
footer{
  position: initial;
  left: 0;
  transform: none;
  font-size: 10px;
}
.col-md-3-fix.col-xs-12 a {
  width: 50%;
  float: left;
}
.share-title{
  font-size: 38px;
  margin-top: 42vh;
}
}